@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');


:root{
    --yellow:#9bc3e6;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--yellow);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

body{
    background:rgb(10, 36, 52);
    /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/bgtron2.jpg"); */
    background-size: cover;
    height: 100%;

    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--yellow);
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}

.heading span{
    color:var(--yellow);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--yellow);
}

header .user .name{
    font-size: 3.5rem;
    color:#fff;
}

header .user .post{
    font-size: 2rem;
    color:#eee;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background:var(--yellow);
}

/* Style all font awesome icons */
.fa {
    margin: 1rem;
    padding: 1rem;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
/* Set a specific color for each brand */

/* Facebook */
.fa-linkedin {
    background: #3B5998;
    color: white;
  }  


#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:#fff;
}

.home h1{
    font-size:5rem;
    color:#fff;
}

.home h1 span{
    color:var(--yellow);
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color:var(--yellow);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color:#eee;
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:var(--yellow);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:#fff;
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--yellow);
}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.portfolio .box-container .box{
    height: 20rem;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.6);
}

.portfolio .box-container .card{
    background: #fff;
    height: 46rem;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
    /* margin: 10px; */
}
.portfolio .box-container .card img{
    background: aqua;
    /* height: 150px; */
    /* width:26rem; */
    width: 100%;
    height: 30%;

    margin-bottom: 12px;
    background-size: cover;
    object-fit: cover;
}
.portfolio .box-container .card h2{
    padding: 10px;
}
.portfolio .box-container .card p{
    padding: 10px;
}
.portfolio .box-container .card a{
    background: #000;
    color:  #fff;
    padding:  15px 20px;
    text-align: center;
    display: block;
    margin: 20px 50px;

}
.portfolio .box-container .card:hover{
    background-color: rgb(62,62,62);
    color: #fff;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

#popup{
    position: fixed;
    top: 40%;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 30px;
    
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 3%;
}
#popup a{
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: #fff;
    background: #111;

}
#popup.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transform: 0.5s;
}

.popup2 .overlay{
    position: fixed;
    top: 0px;
    left:0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
    display: none;
}
.popup2 .content{
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 60px;
    box-sizing: border-box;
}
.popup2 .close-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.popup2.active .overlay{
    display: block;
}
.popup2.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}

.modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.bg-active{
    visibility: visible;
    opacity: 1;
}
.modal{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    width: 60%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.modal button{
    padding: 10px 30px;
    background-color: #2980b9;
    color: #fff;
    border: none;
    font-family: Montserrat','sans-serif;
    cursor: pointer;
}
.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}


/* Expand */
.portfolio .box-container .card input{
    display: none;
    visibility: hidden;
}
.portfolio .box-container .card label{
    display: block;
    padding: 0.5em;
    text-align: center;
    border-bottom: 5px dashed #666;
    color: #333;
    transition: 0.2s;
}

.portfolio .box-container .card label:hover{
    color: #000;
}

.portfolio .box-container .card label::before{
    font-weight: 800;
    font-size: 25px;
    content: "+";
    vertical-align: text-top;
    display: inline-block;
    width: 33px;
    height: 33px;
    margin: -5px 5px;
    border-radius: 50%;
    border: 3px solid #000;
}

#expand{
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    background: url('../images/bgplant.JPG');
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
}

.portfolio .box-container .card section{
    padding: 0 15px;
}

#toggle:checked ~ #expand{
    height: 300px;
}

#toggle:checked ~ label::before{
    content: "-";
}


.portfolio .box-container .card .contentBx{
    position: relative;
    margin: 10px 20px;
}
.portfolio .box-container  .card .label{
    position: relative;
    padding: 10px;
    background: #2694af;
    color: #fff;
    cursor: pointer;
}
.portfolio .box-container .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right:  20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
.portfolio .box-container .card .contentBx .content{
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    color: skyblue;
}
.portfolio .box-container .card .contentBx.active .content{
    height: 200px;
    padding: 10px;
}


/* grid in portfolio */
.portfolio .grid{
    display: grid;
    width: 114em;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    align-items: start;
}
.portfolio .grid .grid-item{
    background-color: #fff;
    border-radius: 0.9rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}
.portfolio .grid .grid-item:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
.portfolio .grid .grid-item .card .card-img{
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
.portfolio .grid .grid-item .card .card-content{
    padding: 3rem;
}
.portfolio .grid .grid-item .card .card-content .card-header{
    font-size: 3rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
}
.portfolio .grid .grid-item .card .card-content .card-text{
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
}
.portfolio .grid .grid-item .card .card-content .card-btn{
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: #3363ff;
    background-color: #d8e0fd;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
}
.portfolio .grid .grid-item .card .card-content .card-btn span{
    margin-left: 1rem;
    transition: 0.2s;
}
.portfolio .grid .grid-item .card .card-content .card-btn:hover,
.portfolio .grid .grid-item .card .card-content .card-btn:active{
    background-color: #c3cffc;
}

.portfolio .grid .grid-item .card .card-content .card-btn:hover span,
.portfolio .grid .grid-item .card .card-content .card-btn:active span{
    margin-left: 1.5rem;
}

.article-card{
    background: #fff;
    border-radius: 20px;
    transition: 0.3s;
}
.article-image{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.article-image img{
    max-height: 100%;
    /* height: auto; */
    height: 300px;
    max-width: 100%;;
    border-radius: 20px 20px 0 0;
}
.article-card:hover{
    box-shadow: 0 40px 200px 0 rgba(34, 68, 123, 0.92);
    cursor: pointer;
}
.article-content{
    padding: 2rem;
}
.article-content .card-category{
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #6b82a7;
    display: block;
    text-decoration: none;
}
.article-content .card-title{
    margin: 1rem 0;
    color: #22447b;
}

.article-content .card-excerpt{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #6b82a7;
    margin: 0;
}





/* .portfolio .box-container .card .btnModal{
    text-decoration: none;
    padding: 15px 40px;
    background-color: rgba(255,122,0);
    color: #fff;
    border-radius: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    box-shadow: 0 10px 40px rgba(225, 122, 0, 0.4);

}
.popup3-video-container {
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(255, 122, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;

}

.popup3-video-container .close{
    position: absolute;
    top: 10%;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
}

.popup3-video-container video{
    width: 90%;
    max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: all 0.3s;
}
.popup3-video-container.show{
    pointer-events: all;
    opacity: 1;
}

.popup3-video-container.show video{
    transform: scale(1);
    
} */







.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}





/* animation background */

.animation-area{
    background: linear-gradient(to left, #8942a8,#ba382f);
    width: 100%;
    height: 100vh;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
    border-radius: 9px;
    border: solid 21px rgba(193, 183, 242,0.2);

	background: rgba(255, 255, 255, 0.0);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}















/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }
}
@media only screen and (max-width: 60em){
    
}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }
    

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }
    .portfolio .box-container .card{
        width:100%;
    }
    .portfolio .grid{
        width: 100%;
    }

    #popup{
        width: 100%;
    }
    .modal{
        width: 90%;
    }
    

    .contact .row form{
        margin:3rem 0;
    }

 }